.avaliable-devices{
    padding: 5.6vw;

        h2{
            text-align: center;     //texto no centro
            margin-bottom: 24px;
        }
    &__list{
        display: grid;          //colunas
        gap: 24px;      //24px de espaçamento entre as colunas
        grid-template-columns: repeat(4,  1fr);     //4 colunas de 1 frame  (todo container)

        @media (max-width:768px) {
            grid-template-columns: 1fr 1fr;
        }

        &__item{    
            text-align: center;     //texto no centro

            h2 {
                margin-top: 20px;
                margin-bottom: 24px;
            }

            li {
                list-style: none;           //tirou os bulet
            }

            img {
                max-width: 100%;
            }
        }
    }
}