$corDeFundo: #040714; //variavel da cor de fundo
$corTextoPrincipal: silver; //variavel
$corTextoSecundario: #f9f9f9; //variavel da cor do texto secundario
$corDeFundoBotaoPrimario: #6121ff;
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;